TWITCH_CHANNEL=mychannel
TWITCH_BOT_USERNAME=mybot
TWITCH_OAUTH_TOKEN=oauth:xxxxxxxxxxxx

OBS_WEBSOCKET_URL=ws://127.0.0.1:4455
OBS_WEBSOCKET_PASSWORD=your_password
OBS_SCENE_NAME=Main
OBS_SOURCE_NAME=GreenScreenSource

GS_COMMAND=!gs
GS_STOP_COMMAND=!gstop

GS_SUB_ONLY=true
GS_MOD_ONLY=false

GS_COOLDOWN_ENABLED=true
GS_COOLDOWN_SECONDS=60

GS_DURATION_SECONDS=15

GS_ALLOWED_DOMAINS=youtube.com,youtu.be,streamable.com,tenor.com,giphy.com
GS_ALLOW_DIRECT_FILES=true
GS_ALLOWED_FILE_EXTENSIONS=.mp4,.webm,.mov

CONTROL_HTTP_ENABLED=false
CONTROL_HTTP_HOST=127.0.0.1
CONTROL_HTTP_PORT=4317
CONTROL_HTTP_TOKEN=change_me_local_secret

LOG_LEVEL=info
